.center {
    text-align: center;
}

.content {
    border: 1px solid black;
    background-color: white;
}

.container {
    display: grid;
    height: 640px;
    width: 640px;
    margin: auto;
}

.black {
    border: 1px solid black;
    background-color: black;
}

