.center {
    text-align: center;
}

.mainDiv {
    display: flex;
    justify-content: space-evenly;
}

.content {
    border: 1px solid black;
    background-color: white;
}

.container {
    display: grid;
    height: 640px;
    width: 640px;
}

.black {
    border: 1px solid black;
    background-color: black;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn {
    height: 50px;
    width: 100px;
}
